body, .wrapper{
	overflow: unset;
}
.product-table td{
	padding: 5px 0;
}
a.vigieCart-anchor{
	    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 100;
    padding: 8px;
	position: relative;
    display: block;
	border: 1px solid #ddd;
}
a.vigieCart-anchor:hover, a.vigieCart-anchor.active{
	background-color: #69bd45;
    border-color: #69bd45;
    color: #ffffff;
}
a.vigieCart-anchor.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #69bd45;
}
.product-table td.image{
	padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 15px;
	min-width: 65px;
}
.select {
    position: relative;
    display: block;
     width: 10em;
    height: auto;
    line-height: 3;
    background: none;
    overflow: hidden;
    border-radius: .25em;
	margin-left: 10px;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 .5em;
    background: #69bd45;
    pointer-events: none;
    height: 33px;
    line-height: 33px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #fff;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
select.select4opt{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 .9em 0 .4em;
    color: #333;
    cursor: pointer;
}
select.select4opt{
	height: 33px;
    font-size: 12px;
    outline: 0;
    box-shadow: none;
    border: 1px solid #69bd45 !important;
    border-radius: 2px;
    background: none;
    vertical-align: top;
}

td.cart_unit .main {
    padding: 0 0 0 5px;
}
.vigieCart-tab .cart_unit .down_count, .vigieCart-tab .cart_unit .up_count {
    height: 33px;
    width: 33px;
    margin: 0 -5px!important;
    vertical-align: top;
    background: #69bd45 !important;
    border: 1px solid #69bd45 !important;
    position: relative;
    border-radius: 2px;
	color: #fff !important;
}
.counter {
    width: 45px;
    border-radius: 0px !important;
    text-align: center;
    margin: 0 !important;
    height: 33px;
}
.custom-vegie input[type=checkbox] {
    display: none;
}

.custom-vegie input[type=checkbox]+label {
    display: block;
    margin: 0;
    cursor: pointer;
    padding: 0;
}
.custom-vegie input[type=checkbox]+label:before {
    content: "\2714";
    border: 2px solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.6em;
    padding-left: 0;
    padding-bottom: 0;
    margin-right: 0;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    text-align: center;
}
.custom-vegie input[type=checkbox]:checked+label:before {
    background-color: #69bd45;
    border-color: #69bd45;
    color: #fff;
}
.stick-element  {
    padding: 18px !important;
    background: #dedede;
}

.item .naturalimg{
	position: absolute;
	top: 100px;
	left: 100px;
	max-width: 175px
}
.pad-o {
    padding: 0 !important;
}
.feature-wrap > p{
	min-height: 70px;	
}
.quality-caption p{
	min-height: 70px;
}
.footer-widget ul li{
	    display: block;
	font-size: 14px;

}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
@media (min-width:990px){
	.stick-element {
		position: sticky;
		position: -webkit-sticky;
		top: 90px;
		float: left;
	}
	.stick-element2 {
		
		position: sticky;
		position: -webkit-sticky;
		top: 90px;
		float: left;
	}
}
h3.price {
    margin: 0 0 32px 0;
    border-bottom: 1px solid #eee;
    padding: 0 0 35px 0;
    font-size: 21px;
}
h3.price small {
    float: left;
    width: 100%;
    font-weight: bold;
    margin: 0 0 8px;
    color: #405368;
}
button.btn.btn-success.custom_add2cart {
    color: #fff;
    background-color: #b1251b;
    border-color: #b32c22;
}
.navbar {
	margin-bottom: 0;
	 min-height: 75px;
	padding-top: 00;
}
.navbar .navbar-brand{
	height: 63px;
}
.dropdown-toggle::after{
	display: none;
}
.form-control.navbar-search{
	border-radius: 7px;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    padding: 5px 10px;
}
.collapse.navbar-collapse{
	padding-top: 10px;
}
.food-quality-img img{
	vertical-align: middle;
}

.quality-caption .title-1{
	margin-bottom: 0;
	margin-top: 19px;
    line-height: 16px;
}
.quality-caption .divider-2{
	margin: 2px auto;
}

@media (max-width:990px){
	.stick-element {
		margin-top: 15px;
	}
	a.vigieCart-anchor.active:after{
		display: none;
	}
}
@media (max-width: 768px){
	.naturix-goods .container {
		width: 99%;
		max-width: 100%;
	}
	.vigieCart-tab .cart_unit .down_count, .vigieCart-tab .cart_unit .up_count{
		display: block;
		margin: auto !important;
	}
}
@media (max-width: 576px){
	.naturix-goods .container {
		max-width: 100%;
	}
}
 @media (min-width: 768px){
.navbar-nav {
    float: right;
    margin: 0;
}
}    

#warehouse-popup .bootstrap-select > .dropdown-toggle.btn-default:hover, #warehouse-popup  .bootstrap-select > .dropdown-toggle.btn-default:focus, #warehouse-popup  .bootstrap-select > .dropdown-toggle.btn-default:active{
	color: #f2f2f2;
}	
#warehouse-popup .selectpicker {
	font-size:16px;
}
.search-selectpicker{
	display:inline-block !important;
}	
label.select_warehouse123{
	display:block !important;
}	