<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Organic Cart</title>
      <script>
        window.frappe = {};
        frappe.ready_events = [];
        frappe.ready = function (fn) {
            frappe.ready_events.push(fn);
        };
        window.dev_server = 1;
        window.socketio_port = 9000;
        frappe.csrf_token = "{{ csrf_token }}";
        frappe.user = "{{ user }}"
        frappe.session = {{ session | replace("None", "null")}} 
        </script>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="agency, ecommerce">
        <meta name="author" content="Md. Siful Islam, Jtheme">

        <title>Naturix</title>
        
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="144x144" href="/files/icon.png">
        <link rel="shortcut icon" href="/files/icon.png">
        {% if head_html is defined -%}
		{{ head_html or "" }}
		{%- endif %}

		{% if theme.theme_url %}
		<link type="text/css" rel="stylesheet" href="{{ theme.theme_url }}">
		{% else %}
		<link type="text/css" rel="stylesheet" href="/assets/css/frappe-web-b4.css">

		{%- for link in web_include_css %}
		<link type="text/css" rel="stylesheet" href="{{ link|abs_url }}">
		{%- endfor -%}
		{% endif %}

        <!-- Font Icon -->
        <link href="app-assets/css/plugin/font-awesome.min.css" rel="stylesheet" type="text/css">  

        <!-- CSS Global -->
        <link href="app-assets/css/plugin/bootstrap.min.css" rel="stylesheet" type="text/css">  
        <link href="app-assets/css/plugin/bootstrap-select.min.css" rel="stylesheet" type="text/css">  
        <link href="app-assets/css/plugin/owl.carousel.css" rel="stylesheet" type="text/css">        
        <link href="app-assets/css/plugin/animate.css" rel="stylesheet" type="text/css"> 
        <link href="app-assets/css/plugin/subscribe-better.css" rel="stylesheet" type="text/css"> 

        <!-- Custom CSS -->
        <link href="app-assets/css/theme.css" rel="stylesheet" type="text/css">
        <link href="organic-cart/css/custom.css" rel="stylesheet" type="text/css">
        
        <!-- Color CSS --> 

        <!--[if lt IE 9]>
        <script src="app-assets/js/plugin/html5shiv.js"></script>
        <script src="app-assets/js/plugin/respond.js"></script>
        <![endif]-->  
         
    </head>

    <body id="home" class="wide">

        <div id="loading">
            <div class="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>


        
		{% include "templates/includes/navbar/navbar.html" %}
	   
        <!-- WRAPPER -->
        
        <main class="wrapper home-wrap"> 
            <!-- CONTENT AREA -->

            <!-- Main Header Start -->
            <!-- <header class="main-header style-2">   
                 
                <div class="d-flex justify-content-between align-items-center">
                    <div class="page-header">
                        {% block header %}{% endblock %}
                    </div>
        
                    {% if self.header_actions() %}
                    <div class="page-header-actions-block">
                        {% block header_actions %}{% endblock %}
                    </div>
                    {% endif %}
                </div>              
                 <div class="container-fluid rel-div">
                    <div class="col-lg-4 col-sm-8">
                        <div class="main-logo">
                            <a href="index.html"> <img alt="" src="app-assets/img/logo/main-logo-2.png" />  </a>
                            <span class="medium-font">ORGANIC STORE</span>
                        </div>
                    </div>

                    <div class="col-lg-6 responsive-menu">  
                        <div class="responsive-toggle fa fa-bars"> </div>
                        <nav class="fix-navbar" id="primary-navigation">            
                            <ul class="primary-navbar">                                                
                                <li><a href="/">Home</a></li>
                                <li><a href="#.">About Us</a></li>
                               
                                <li><a href="#.">Blog</a></li>
                                <li><a href="#.">Contact Us</a></li>   
                                <li><a href="/login">Login</a></li>  
                            </ul>                           
                        </nav>
                    </div>

                </div>  
            </header> -->
            <!-- / Main Header Ends -->   

            <!-- Main Slider Start -->
            <section class="main-slide">
                <div id="naturix-slider" class="owl-carousel nav-1">
                    <div class="item"> 
                        <img alt=".." src="app-assets/img/image-3.jpg" />
                        <div class="tbl-wrp slide-3">
                            <div class="text-middle">
                                <div class="tbl-cell">
                                    <div class="slide-caption container text-center"> 
										<img src="app-assets/img/slider/natural-100-logo.png" class="naturalimg" />
                                        <div class="slide-title2">
                                            <img alt="" src="app-assets/img/icons/slide-txt-3.png" />
                                            <h4 class="sub-title"> Sahaja Aharam connecting organic producers and consumers since <strong>1997</strong> </h4>
                                        </div>
                                    </div>
                                    <div class="social-icon">
                                        <a href="https://www.facebook.com/sahajaaharam/" target="_blank" class="fa fa-facebook"></a>
                                        <a href="https://twitter.com/sahajaaharam" target="_blank" class="fa fa-twitter"></a>
                                        <a href="https://www.linkedin.com/company/sahajaaharam/" target="_blank" class="fa fa-linkedin"></a>
                                        <a href="https://www.instagram.com/sahajaaharam/" target="_blank" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="item"> 
                        <img alt=".." src="app-assets/img/img-4.jpg" />
                        <div class="tbl-wrp slide-3">
                            <div class="text-middle">
								
                                <div class="tbl-cell">
                                    <div class="slide-caption container text-center">  
										<img src="app-assets/img/slider/natural-100-logo.png" class="naturalimg" />
                                        <div class="slide-title2">
                                            <img alt="" src="app-assets/img/icons/slide-txt-3.png" />
                                            <h4 class="sub-title"> Sahaja Aharam connecting organic producers and consumers since <strong>1997</strong> </h4>
                                        </div>
                                    </div>
                                    <div class="social-icon">
                                        <a href="https://www.facebook.com/sahajaaharam/" target="_blank" class="fa fa-facebook"></a>
                                        <a href="https://twitter.com/sahajaaharam" target="_blank" class="fa fa-twitter"></a>
                                        <a href="https://www.linkedin.com/company/sahajaaharam/" target="_blank" class="fa fa-linkedin"></a>
                                        <a href="https://www.instagram.com/sahajaaharam/" target="_blank" class="fa fa-instagram"></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- / Main Slider Ends -->   

            <!-- Organic Farmfood Starts-->
            <section class="organic-farm-2 sec-space-top">

                <img alt="" src="app-assets/img/extra/sec-img-7.png" class="left-bottom-img" />  
                <img alt="" src="app-assets/img/extra/sec-img-8.png" class="right-top-img" />  

                <div class="container rel-div">
                    <div class="row">
                        <div class="col-sm-6 text-right fsz-16 pt-15 xs-text">
                            <p>Sahaja Aharam Producer Company is a federation of 23 organic farmer producer organisations in Andhra Pradesh and Telangana and owns end to end supply chain and sources from 100% organic farmers</p>
                        </div>
                        <div class="col-sm-6 text-left xs-text">
                            <h2 class="section-title"> <span class="light-font">Add health to your life with  </span> <strong>Sahaja Aharam </strong> </h2>
                            <h4 class="sub-title"> Know more about us and our produce </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="feature-wrap">
                                <img src="app-assets/img/extra/feature-1.png" alt="" />
                                <h3 class="title-1 ptb-15"> <span class="light-font">100% </span> <strong>Organic Foods </strong></h3>
                                <p>Procured from certified organic farmers and can be traceable to the farmer group</p>
                                <a href="./100-organic-foods" class="sm-bnt-wht">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="feature-wrap">
                                <img src="app-assets/img/extra/feature-2.png" alt="" />
                                <h3 class="title-1 ptb-15"> <span class="light-font"> Processed in</span> <strong>  Own Foodhubs </strong> </h3>
                                <p>Processed at Foodhubs exclusive Organic Foodhubs owned by SAPCO or farmers  </p>
                                <a href="./processed-in-own-foodhubs" class="sm-bnt-wht">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="feature-wrap">
                                <img src="app-assets/img/extra/feature-3.png" alt="" />
                                <h3 class="title-1 ptb-15"> <span class="light-font">Ensuring  </span> <strong> Fair Trade </strong> </h3>
                                <p>Ensured that producers gets more than 50% of the consumers price  </p>
                                <a href="./ensuring-fair-trade" class="sm-bnt-wht">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="feature-wrap">
                                <img src="app-assets/img/extra/feature-4.png" alt="" />
                                <h3 class="title-1 ptb-15"> <span class="light-font">Fresh from  </span> <strong>Organic Farms </strong> </h3>
                                <p>Vegetables supplied from farms to consumers in less than 18 hrs from harvesting  </p>
                                <a href="./fresh-from-organic-farms" class="sm-bnt-wht">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="rel-div feature-img">
                        <img src="app-assets/img/img-1.jpg" alt="" style="max-width: 800px;" />
                    </div>
                </div>

                <img alt="" src="app-assets/img/icons/skew-2.png" class="shape-2" />
            </section>
            <!-- / Organic Farmfood Ends -->      

            <!-- Naturix Goods Starts-->
            <section class="naturix-goods sec-space light-bg">
                <div class="container"> 
                    <div class="title-wrap" id="quickshop">
                        <h4 class="sub-title"> Directly from our farmers  </h4>
                        <h2 class="section-title"> <span class="light-font">Sahaja Aharam   </span> <strong> Organic Farmers </strong> <span class="light-font">  and </span> <strong> Foods </strong> </h2>
                    </div>
                 <div>
					<div> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-o cf">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 pad-o vigieCart-tab-menu stick-element2" id="stick-left">
                            <div class="widget-wrap">
                                <h2 class="widget-title"> <span class="light-font">Refine by</span> <strong>category</strong> </h2>
                                <div class="divider-full-1"></div>
                                <table id="item_group" style="width:100%;">
                                    <!-- <tr>
                                      <td><a href="#" class="vigieCart-anchor active" data-toggle="tab">All</a></td>
                                    </tr> -->
                                    {% for item in item_group %}
                                    <tr>
                                        {% set id = item.route.split('/') %}
                                        {% set list_index = id|length - 1 %}
                                        <td><a class="vigieCart-anchor" href="#quickshop" data-toggle="tab" route = "{{id[list_index]}}">{{item.name}}</a></td>
                                    </tr>
                                    {% endfor %}
                                    
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 pad-o vigieCart-tab tab-content cf">
                            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-1-rgt pad-resp-r">
                                
                                <table class="product-table table-bordered">
                                    <thead class="">
                                       <tr>
                                          <th colspan="2">product detail</th>
                                          <th>Option</th>
                                          <th>Product price</th>
                                          <th>quantity</th>
                                          <th>Select</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        {% for it in item_result %}
                                        {% set pro_price = [] %}
                                        {% if it.in_stock == 1 %}
                                        {% set id = it.item_group_route.split('/') %}
                                        {% set list_index = id|length - 1 %}
                                       <tr class="item {{id[list_index]}} disable-content">
                                        <!-- if product is out of stock 001 start-->
										  <!-- <td colspan="6" style="padding: 0;" >
												<table>
													<tr> -->
										<!-- if product is out of stock 001 end-->   
                                          <td class="image">
                                            <div class="random-img"> 
                                                {% if(it.image != '' and it.image != 'None' and it.image != None ) %}
                                                <a href="/{{it.route}}"><img  style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="{{it.image}}"></a>
                                                {% else %}
                                                <a href="/{{it.route}}"><img style="color: white;height: 40px;width: 40px;background-color: #bbb;border-radius: 50%;display: inline-block;text-align: center;"  src="/files/download.png"></a>
                                                {% endif %}
                                            </div>
                                          </td>
                                          <td class="item_name" hidden>{{it.item}}</td>
                                          <td class="item" width="150px">{{it.item_name}}</td>
                                          <td class="select_option">
                                            {% if it.has_variant == 1 %}
                                            <div class="search-selectpicker  select">
                                                <select class="option select4opt input-price" >
                                                    

                                                      {% for var in it.variant %}
                                                      {% if (var.stock != None and var.stock|float != 0.0 and var.stock|float > 0.0) %}
                                                      <option value="{{var.variant}}" stock="{{var.stock}}" price="{{var.price}}">{{var.variant_name}}</option>
                                                      {{pro_price.append(var.price)}}
                                                      {% endif %}
                                                      {% endfor %}
                                                    </select>
                                                </div>
                                            {% else %}
                                                    {{it.uom}}
                                                    
                                            {% endif %}
                                                  
                                          </td>
                                          <td class = "stock" hidden>
                                            {% if it.has_variant != 1 %}
                                            {{it.stock}}
                                            {% endif %}
                                            
                                          </td>
                                          <td class = "price">
                                            
                                            {% if (it.has_variant == 1 ) %}
                                                {% if it.variant|length > 0 %}
                                                    {% if pro_price[0] %}
                                                    {{pro_price[0]}}
                                                    {% else %}
                                                    0.00
                                                    {% endif %}
                                                {% else %}
                                                    0.00
                                                {% endif %}
                                            {% else %}
                                                {% if it.price == None %}
                                                0.00
                                                {% else %}
                                                {{it.price}}
                                                {% endif %}
                                              
                                            {% endif %}
                                            </td>
                                          <td class="cart_unit">
                                            <!--<input type="number"  class="qty" value="1"> -->
                                            <div class="main">
                                                {% if (it.has_variant == 1 ) %}
                                                <button class="down_count btn btn-info"><i class="fa fa-minus"></i></button>
                                                <input title="Qty" class=" qty counter" type="number" value="1" min="1" readonly>
                                                <button class="up_count btn btn-info"><i class="fa fa-plus"></i></button>
                                                {% else %}
                                                <button class="down_count btn btn-info"><i class="fa fa-minus"></i></button>
                                                <input title="Qty" class=" qty counter" type="number" value="1" min="1" >
                                                <button class="up_count btn btn-info"><i class="fa fa-plus"></i></button>
                                                {% endif %}
                                            </div>
                                          </td>
                                          <td class="custom-vegie"> 
                                            {% set id = it.route.split('/') %}
                                            {% set list_index = id|length - 1 %}
                                            <input type="checkbox" class="select_qty checkmark" id={{id[list_index]}}><label for={{id[list_index]}}></label>
                                          </td>
										   
									    <!-- if product is out of stock 002 start-->
											   <!-- </tr>
											</table>
										   </td> -->
										<!-- if product is out of stock 002 end-->   
                                       </tr>
                                        {% endif %}
                                       {% endfor %}</tbody></table>
                                       
                                   
                            </div>
                            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 stick-element" id="stick-element">  
								<!-- <h3 class="price"> 
									<small>Cart Total</small> 
									<span class="total_amount" id="total">00</span> INR 
								</h3>
								</div>	 -->
								<div> 
									<div class="tctcntr"> <button class="btn btn-success custom_add2cart" id="add_to_cart">Add To Cart</button> </div><br>
                                    <div class="tctcntr"> <button onclick="window.location.href = '/cart'"class="btn btn-success custom_add2cart" id="view_cart" hidden>View Cart</button> </div>
								</div>
						   </div>	  
                    	</div>
                	</div>
					 </div>	
				</div>
					
					

            </section>
            <!-- / Naturix Goods Ends -->

            <!-- Naturix Quality Starts-->
            <section class="naturix-quality sec-space-bottom">
                <div class="pattern"> 
                    <img alt="" src="app-assets/img/icons/white-pattern.png">
                </div>
                
                <div class="container"> 
                    <div class="title-wrap pt-15">
                        <h2 class="section-title pt-15"> <span class="light-font">Linking </span> <strong> Organic Producers</strong> <span class="light-font">and</span> <strong>Consumers</strong> </h2>                        
                        <h4 class="sub-title"> Better livelihoods for farmers…better food for consumers </h4>
                    </div>
                    <div class="food-quality block-inline">
                        <div class="col-md-4 "> 
                            <div class="left"> 
                                <div class="quality-img"> 
                                    <img alt="" src="app-assets/img/icons/quality-1.png" />
                                </div>
                                <div class="quality-caption"> 
                                    <h2 class="title-1">Scientific Organic Approach</h2>
                                    <span class="divider-2"></span>
                                    <p>Farmers are trained in organic/natural farming practices and supported to manage organically</p>
                                </div>                               
                            </div>
                            <div class="left"> 
                                <div class="quality-img"> 
                                    <img alt="" src="app-assets/img/icons/quality-2.png" />
                                </div>
                                <div class="quality-caption"> 
                                    <h2 class="title-1">Farmers owned Supply chain</h2>
                                    <span class="divider-2"></span>
                                    <p>All the operations from production, processing, packing distribution are taken up at farmer/FPO owned units</p>
                                </div>                               
                            </div>
                            <div class="left"> 
                                <div class="quality-img"> 
                                    <img alt="" src="app-assets/img/icons/quality-3.png" />
                                </div>
                                <div class="quality-caption"> 
                                    <h2 class="title-1">Fair Price to Farmers</h2>
                                    <span class="divider-2"></span>
                                    <p>Ensure farmers getting more than 50% of consumer price and remunerative enough to cover costs+</p>
                                </div>                               
                            </div>
                        </div>
                        <div class="col-md-4 text-center  pt-50"> 
                            <img alt="" src="app-assets/img/millets-image.jpg">
                        </div>
                        <div class="col-md-4 "> 
                            <div class="right"> 
                                <div class="quality-img"> 
                                    <img alt="" src="app-assets/img/icons/quality-4.png" />
                                </div>
                                <div class="quality-caption"> 
                                    <h2 class="title-1">100% Organic Integrity</h2>
                                    <span class="divider-2"></span>
                                    <p>All farmers, collection centres, processing and packing units are certified and traceable</p>
                                </div> 
                            </div>
                            <div class="right"> 
                                <div class="quality-img"> 
                                    <img alt="" src="app-assets/img/icons/quality-5.png" />
                                </div>
                                <div class="quality-caption"> 
                                    <h2 class="title-1">Consumer Education</h2>
                                    <span class="divider-2"></span>
                                    <p>Engage consumers to make better choice of food, nutritional counselling </p>
                                </div> 
                            </div>
                            <div class="right"> 
                                <div class="quality-img"> 
                                    <img alt="" src="app-assets/img/icons/quality-6.png" />
                                </div>
                                <div class="quality-caption"> 
                                    <h2 class="title-1">Reduced Ecological Footprints</h2>
                                    <span class="divider-2"></span>
                                    <p>Each product has reduced ecological foot print in terms of energy, water and chemical use</p>
                                </div> 
                            </div>
                        </div>
                    </div>                    
                </div>
            </section>
            <!-- Naturix Quality Starts-->

            <div class="container"> <div class="divider-full-1"></div> </div>

          

            <!-- Subscribe Newsletter Starts-->
            <section class="subscribe-wrap sec-space light-bg">
                <img alt="" src="app-assets/img/extra/sec-img-5.png" class="right-bg-img" />  
                <img alt="" src="app-assets/img/extra/sec-img-6.png" class="left-bg-img" />  

                <div class="container"> 
                    <div class="row"> 
                        <div class="col-md-4"> 
                            <h4 class="sub-title"> JOIN OUR NEWSLETTER </h4>
                            <h2 class="fsz-35"> <span class="light-font">subscribe </span> <strong> newsletter</strong> </h2>
                        </div>
                        <div class="col-md-8"> 
                            <form class="newsletter-form row">
                                <div class="form-group col-sm-8">
                                    <input class="form-control" placeholder="enter your email address" required=""  type="text">                                                                                     
                                </div>
                                <div class="form-group col-sm-4">                                               
                                    <button class="theme-btn btn-block" type="submit"> subscribe <i class="fa fa-long-arrow-right"></i> </button>                                            
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Subscribe Newsletter Ends -->

            <!-- Testimonials Starts-->
            <section class="">
                <div class="container"> 
                    <div class="testimonials">     
                        <div id="testimonial-slider" class="testimonial-slider nav-1"> 
                            <div class="item"> 
                                <div class="testi-wrap"> 
                                    <div class="testi-img"> 
                                        <a href="#"> <img src="app-assets/img/extra/testi-1.jpg" alt="" /> </a>
                                    </div>
                                    <div class="testi-caption"> 
                                        <p> <i>All vegetables costs around 50 Rs /Kg is very reasonable ....No middleman business...70 to 80 % profit goes directly to farmers...Every Tuesday and Friday evenings, new stock will be available</i> </p>
                                        <a href="#"> <i class="fa fa-user clr-txt"></i> <strong> Kishore R Gade </strong> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item"> 
                                <div class="testi-wrap"> 
                                    <div class="testi-img"> 
                                        <a href="#"> <img src="app-assets/img/extra/testi-1.jpg" alt="" /> </a>
                                    </div>
                                    <div class="testi-caption"> 
                                        <p> <i> You get good organic food products here and the best part is that 50% goes to the farmers. So, buying from here helps farmers directly. Fresh vegetables arrive on Tuesday and Friday evenings, although they don't stock vegetables such as carrots, cauliflowers etc. Definitely worth checking out.</i> </p>
                                        <a href="#"> <i class="fa fa-user clr-txt"></i> <strong> Rahul Surekha </strong> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonials Ends -->

           
            <!-- / CONTENT AREA -->

            <!-- FOOTER -->
            <footer class="page-footer"> 
                <section class="sec-space light-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 footer-widget">
                                <div class="main-logo">
                                    <a href="/"> <img alt="" src="/files/sahaja%20aharam%20mobile%202.png" style="max-width: 55px;" />  </a>
                                    <span class="medium-font">Sahaja Aharam Producer Company</span>
                                </div>
                                <span class="divider-2"></span>
                                <div class="text-widget">
                                    <p>Sahaja Aharam is an effort to connect organic producers and consumers for a 
mutual benefit </p>
                                    <ul>
                                        <li> <i class="fa fa-map-marker"></i> <span> #12-13-485/5, Nagarjuna Nagar, Tarnaka
Secunderabad-500017 </span> </li>
                                        <li> <i class="fa fa-envelope-square"></i> <span><a href="mailto:info@sahajaaharam.in">info@sahajaaharam.in</a> </span> </li>
										<li> <i class="fa fa-globe"></i> <span><a href="https://www.sahajaaharam.com/">www.sahajaaharam.com</a> </span> </li>
                                        <li> <i class="fa fa-phone-square"></i> <span>08500783300 </span> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">Know more about   </span> <strong>us </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="list">
                                    <li> <a href="/stores"> Find a Sahaja Aharam store <span style="padding-left: 22px; display: inline-block;"> near you </span> </a> </li>
								  <li> <a href="/about-us"> About Sahaja Aharam </a> </li>
								  <li> <a href="/quality-management"> Quality Management </a> </li>
								  <li> <a href="/consumer-group"> Consumer Group </a> </li>
									<li> <a href="/latest"> Latest  </a> </li>
									<li> <a href="/faqs"> FAQs </a> </li>
                                </ul>
								
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">my  </span> <strong>account </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="list">
                                    <li> <a href="./me"> My account </a> </li>
                                    <li><a href="/addresses"> Address Books</a></li>
                                    <li><a href="/orders"> Order History</a></li>
                                    <li><a href="/invoices"> Invoices</a></li>
                                    <li><a href="/issues"> Issues</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 footer-widget">
                                <h2 class="title-1">  <span class="light-font">photo  </span> <strong>instagram </strong> </h2>
                                <span class="divider-2"></span>
                                <ul class="instagram-widget">
                                    <li> <a href="#"> <img src="app-assets/img/extra/80x80-1.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="app-assets/img/extra/80x80-2.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="app-assets/img/extra/80x80-3.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="app-assets/img/extra/80x80-4.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="app-assets/img/extra/80x80-5.jpg" alt="" /> </a> </li>
                                    <li> <a href="#"> <img src="app-assets/img/extra/80x80-6.jpg" alt="" /> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer-bottom">
                    <div class="pattern"> 
                        <img alt="" src="app-assets/img/icons/white-pattern.png">
                    </div>
                    <div id="to-top" class="to-top"> <i class="fa fa-arrow-circle-o-up"></i> </div>
                    <div class="container ptb-50">
                        <div class="row">
                            <div class="col-md-6 col-sm-5">
                                <p>©2020 <a href="#"> <strong> Sahaja Aharam,</strong></a> all right reserved. <br>
									Made with <i class="fa fa-heart red-clr"></i> by <a href="https://greycube.in" target="_blank">Greycube</a></p>
                            </div>
                            <div class="col-md-6 col-sm-7">
                                <ul class="primary-navbar footer-menu">
                                    <li> <a href="#">contact us </a> </li>
                                    <li> <a href="/terms-conditions">term of use  </a> </li>
                                    <li> <a href="#">site map  </a> </li>
                                    <li> <a href="/privacy-policy">privacy policy</a> </li>
                                </ul>
								<p class="text-right" style="padding-right: 5px;">Powered by ERPNext</p>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            <!-- /FOOTER -->

            <div id="to-top-mb" class="to-top mb"> <i class="fa fa-arrow-circle-o-up"></i> </div>

        </main>
        <!-- /WRAPPER -->

        <!-- Product Preview Popup -->
        <section class="modal fade" id="product-preview" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg product-modal">
                <div class="modal-content">
                    <a aria-hidden="true" data-dismiss="modal" class="sb-close-btn close" href="#"> <i class=" fa fa-close"></i> </a>                 

                    <div class="product-single pb-50 clearfix">
                        <!-- Single Products Slider Starts --> 
                        <div class="col-lg-6 col-sm-8 col-sm-offset-2 col-lg-offset-0 pt-50">
                            <div class="prod-slider sync1">
                                <div class="item"> 
                                    <img src="app-assets/img/products/prod-single-1.png" alt="">
                                    <a href="app-assets/img/products/prod-big-1.png" data-gal="prettyPhoto[prettyPhoto]" title="Product" class="caption-link"><i class="arrow_expand"></i></a>
                                </div>
                                <div class="item"> 
                                    <img src="app-assets/img/products/prod-single-2.png" alt=""> 
                                    <a href="app-assets/img/products/prod-big-2.png" data-gal="prettyPhoto[prettyPhoto]" title="Product" class="caption-link"><i class="arrow_expand"></i></a>
                                </div>
                                <div class="item"> 
                                    <img src="app-assets/img/products/prod-single-3.png" alt=""> 
                                    <a href="app-assets/img/products/prod-big-3.png" data-gal="prettyPhoto[prettyPhoto]" title="Product" class="caption-link"><i class="arrow_expand"></i></a>
                                </div> 
                                <div class="item"> 
                                    <img src="app-assets/img/products/prod-single-1.png" alt=""> 
                                    <a href="app-assets/img/products/prod-big-1.png" data-gal="prettyPhoto[prettyPhoto]" title="Product" class="caption-link"><i class="arrow_expand"></i></a>
                                </div> 
                            </div>

                            <div  class="sync2">
                                <div class="item"> <a href="#"> <img src="app-assets/img/products/thumb-1.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="app-assets/img/products/thumb-2.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="app-assets/img/products/thumb-3.png" alt=""> </a> </div>
                                <div class="item"> <a href="#"> <img src="app-assets/img/products/thumb-1.png" alt=""> </a> </div>
                            </div>
                        </div>
                        <!-- Single Products Slider Ends --> 

                        <div class="col-lg-6 pt-50">
                            <div class="product-content block-inline">

                                <div class="tag-rate">
                                    <span class="prod-tag tag-1">new</span> <span class="prod-tag tag-2">sale</span>
                                    <div class="rating">
                                        <span class="star active"></span>
                                        <span class="star active"></span>
                                        <span class="star active"></span>
                                        <span class="star active"></span>
                                        <span class="star active"></span>
                                        <span class="fsz-12"> Based on 25 reviews</span>
                                    </div>
                                </div>

                                <div class="single-caption"> 
                                    <h3 class="section-title">
                                        <a href="#"> <span class="light-font"> organic </span>  <strong>pinapple</strong></a>
                                    </h3>
                                    <span class="divider-2"></span>
                                    <p class="price"> 
                                        <strong class="clr-txt fsz-20">$50.00 </strong> <del class="light-font">$65.00 </del>
                                    </p>

                                    <div class="fsz-16">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adiping elit food sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                    </div>

                                    <div class="prod-btns">
                                        <div class="quantity">
                                            <button class="btn minus"><i class="fa fa-minus-circle"></i></button>
                                            <input title="Qty" placeholder="03" class="form-control qty" type="text">
                                            <button class="btn plus"><i class="fa fa-plus-circle"></i></button>
                                        </div>
                                        <div class="sort-dropdown">
                                            <div class="search-selectpicker selectpicker-wrapper">
                                                <select class="selectpicker input-price"  data-width="100%"
                                                        data-toggle="tooltip">
                                                    <option>Kilo</option>
                                                    <option>2 Kilo</option>
                                                    <option>3 Kilo</option>
                                                    <option>4 Kilo</option>
                                                    <option>5 Kilo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group"><label class="checkbox-inline"><input value="" type="checkbox"> <span>Ready in stock</span></label> </div>
                                    </div>
                                    <ul class="meta">
                                        <li> <strong> SKU </strong> <span>:  AB2922-B</span> </li>
                                        <li> <strong> CATEGORY </strong> <span>:  Fruits</span> </li>
                                        <li class="tags-widget"> <strong> TAGS </strong> <span>:  <a href="#">fruits</a> <a href="#">vegetables</a> <a href="#">juices</a></span> </li>
                                    </ul>
                                    <div class="divider-full-1"></div>
                                    <div class="add-cart pt-15">
                                        <a href="#" class="theme-btn btn"> <strong> ADD TO CART </strong> </a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>  

                </div>
            </div>
        </section>
        <!-- / Product Preview Popup -->

        <!-- Subscribe Popup-Dark -->
        <!-- <section id="subscribe-popups" class="subscribe-me popups-wrap">                
            <div class="modal-content">   
                <button type="button" class="sb-close-btn close popup-cls"> <i class="fa-times fa clr-txt"></i> </button>
                <div class="subscribe-wrap">                                                                   
                    <div class="main-logo">
                        <a href="index.html"> <img alt="" src="app-assets/img/logo/main-logo.png" />  </a>
                    </div>

                    <div class="title-wrap">
                        <h2 class="section-title"> <strong>Subscribe Newsletter</strong> </h2>
                        <h4 class="fsz-12"> Join our newsletter for free & get latest news weekly </h4>
                    </div>

                    <form class="newsletter-form">
                        <div class="form-group">
                            <input class="form-control" placeholder="enter your email address" required="" type="text">                                                                                     
                        </div>
                        <div class="form-group">                                               
                            <button class="theme-btn upper-text" type="submit"> <strong> subscribe </strong> </button>                                            
                        </div>
                    </form>
                </div>
            </div>
        </section> -->
        <!-- / Subscribe Popup-Dark -->

        <!-- JS Global -->
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>
        <script type="text/javascript" src="/assets/js/erpnext-web.min.js"></script>
        <script src="/organic-cart/js/function.js"></script>
        <script src="/organic-cart/js/index.js"></script>
        {%- for link in web_include_js %}
        <script type="text/javascript" src="{{ link | abs_url }}"></script>
        {%- endfor -%}

        <script src="/app-assets/js/plugin/jquery-2.2.4.min.js"></script>   
        <script src="/app-assets/js/plugin/bootstrap.min.js"></script>
        <script src="/app-assets/js/plugin/bootstrap-select.min.js"></script>
        <script src="/app-assets/js/plugin/owl.carousel.min.js"></script>
        <script src="/app-assets/js/plugin/jquery.plugin.min.js"></script>
        <script src="/app-assets/js/plugin/jquery.countdown.js"></script>
        <script src="/app-assets/js/plugin/jquery.subscribe-better.min.js"></script>

        <!-- Custom JS -->   
        <script src="/app-assets/js/theme.js"></script>
			
		<script>
			$(function(){
				$("#navbarSupportedContent .navbar-nav.ml-auto > li:first-child a").click(function() {
					$('html, body').animate({
						scrollTop: $("#quickshop").offset().top - 100
					}, 2000);
				});
				$("#item_group a[href='#quickshop']").click(function(){
					setTimeout(function() {
						if($("table.product-table").height()>50){
							$('html, body').animate({
								scrollTop: $("#quickshop").offset().top - 100
							}, 500);
						}
					}, 500);
					
				});
			});
			
		</script>	


    </body>
    
</html>
